<!DOCTYPE html>

<html>
<head><link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/lib/angular.min.js"></script>
</head>
<body ng-app>
    <h2>Game {{game.gameID}} </h2>
    <div name="gameBoard">
        <div name="playerIsland">

        </div>
        <div name="playerCity">

        </div>
        <div name="gameSource">
            <ul name="gameColonistSupply">

            </ul>
            <ul name="colonistShip">

            </ul>
            <ul name="gameGoodsSupply">

            </ul>
            <ul name="gameVPSupply">

            </ul>
            <ul name="gameShip">

            </ul>
            <ul name="TradeHouse">

            </ul>

        </div>

        <div name="selectPanel">
            <ul name="plantaionList">

            </ul>
            <div name="roleList">

            </div>
        </div>

        <div name="playerList">


        </div>
    </div>
</body>
<div name="bulidingList">

</div>

</html>